body {
  font-family: 'Poppins', sans-serif;
}

/*Card1*/
.card1 {
  text-align: center;
}

.card1 .maincontent .head {
  margin-top: 60px;
  margin-bottom: 10px;
}

.card1 .maincontent .title {
  margin-bottom: 60px;
}

.card1 .maincontent .mainimg {
  width: 90%;
  margin-bottom: 60px;
}

/*Card2*/
.card2 {
  margin-top: 20px;
  text-align: center;
}

.card2 .body .head {
  margin-top: 60px;
  margin-bottom: -15px;
  color: rgb(197 32 49);
}

.card2 .body .title1 {
  margin-bottom: 10px;
}

.card2 .body .title2 {
  margin-bottom: 90px;
  color: grey;
  font-weight: 500;
  font-size: medium;
}

.card2 .mainimg {
  width: 95%;
}

.card2 .ph1 {
  text-align: left;
}

.card2 .tit {
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 1.75rem;
  line-height: 2.25rem;
}

.card2 .para {
  color: gray;
  font-weight: 500;
  font-size: medium;
  padding-bottom: 10px;
}

.card2 .learn {
  --tw-text-opacity: 1;
  align-items: center;
  color: rgb(31 41 55/var(--tw-text-opacity));
  display: inline-flex;
  font-size: 1.125rem;
  font-weight: 500;
  gap: 0.5rem;
  line-height: 1.75rem;
}

/*Card3*/
.card3 {
  text-align: center;
}

.card3 .body .head {
  margin-top: 40px;
  margin-bottom: -15px;
  color: rgb(197 32 49);
}

.card3 .body .title1 {
  margin-bottom: 10px;
}

.card3 .body .title2 {
  margin-bottom: 90px;
  color: grey;
  font-weight: 500;
  font-size: medium;
}

.card3 .mainimg {
  width: 95%;
}

.card3 .ph1 {
  text-align: left;
}

.card3 .tit {
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 1.75rem;
  line-height: 2.25rem;
}

.card3 .para {
  color: gray;
  font-weight: 500;
  font-size: medium;
  padding-bottom: 10px;
}

.card3 .learn {
  --tw-text-opacity: 1;
  align-items: center;
  color: rgb(31 41 55/var(--tw-text-opacity));
  display: inline-flex;
  font-size: 1.125rem;
  font-weight: 500;
  gap: 0.5rem;
  line-height: 1.75rem;
}

/*Card4*/
.card4 {
  text-align: center;
}

.card4 .body .head {
  margin-top: 40px;
  margin-bottom: -15px;
  color: rgb(197 32 49);
}

.card4 .body .title1 {
  margin-bottom: 10px;
}

.card4 .body .title2 {
  margin-bottom: 90px;
  color: grey;
  font-weight: 500;
  font-size: medium;
}

.card4 .mainimg {
  width: 95%;
}

.card4 .ph1 {
  text-align: left;
}

.card4 .tit {
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 1.75rem;
  line-height: 2.25rem;
}

.card4 .para {
  color: gray;
  font-weight: 500;
  font-size: medium;
  padding-bottom: 10px;
}

.card4 .learn {
  --tw-text-opacity: 1;
  align-items: center;
  color: rgb(31 41 55/var(--tw-text-opacity));
  display: inline-flex;
  font-size: 1.125rem;
  font-weight: 500;
  gap: 0.5rem;
  line-height: 1.75rem;
}

.card4 .unordered {
  color: gray;
  font-weight: 500;
  font-size: medium;
  padding-bottom: 10px;
}

/*Card5*/
.card5 {
  text-align: center;
}

.card5 .body .head {
  margin-top: 40px;
  margin-bottom: -15px;
  color: rgb(197 32 49);
}

.card5 .body .title1 {
  margin-bottom: 10px;
}

.card5 .body .title2 {
  margin-bottom: 90px;
  color: grey;
  font-weight: 500;
  font-size: medium;
}

.card5 .mainimg {
  width: 95%;
}

.card5 .ph1 {
  text-align: left;
}

.card5 .tit {
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 1.75rem;
  line-height: 2.25rem;
}

.card5 .para {
  color: gray;
  font-weight: 500;
  font-size: medium;
  padding-bottom: 10px;
}

.card5 .learn {
  --tw-text-opacity: 1;
  align-items: center;
  color: rgb(31 41 55/var(--tw-text-opacity));
  display: inline-flex;
  font-size: 1.125rem;
  font-weight: 500;
  gap: 0.5rem;
  line-height: 1.75rem;
}

.card5 .unordered {
  color: gray;
  font-weight: 500;
  font-size: medium;
  padding-bottom: 10px;
}

/*Slider*/
.carouse {
  background-color: black;
}

.carouse .head {
  padding-top: 60px;
  color: white;
  text-align: center;
}

.slider {
  height: 400px;
  margin: auto;
  position: relative;
  width: 90%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.slide_track {
  display: flex;
  width: calc(250pcx *16);
  animation: scroll 40s linear infinite;
}

.slide_track:hover {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-250px * 9));
    ;
  }
}

.slide {
  height: 200px;
  width: 250px;
  display: flex;
  align-items: center;
  padding: 15px;
  perspective: 100px;
}

.carouse img {
  width: 100%;
  transition: transform 1%;
}

.carouse img:hover {
  transform: translateZ(20px);
}

.slider::before,
.slider::after {
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 100%);
  content: '';
  height: 100%;
  position: absolute;
  width: 15%;
  z-index: 2;
}

.slider::before {
  left: 0;
  right: 0;
}

.slider::after {
  left: 0;
  right: 0;
  transform: rotateZ(180deg);
}

/*Card6*/
.card6 {
  text-align: center;
  margin-bottom: 120px;
}

.card6 .body .head {
  margin-top: 60px;
  margin-bottom: 20px;
  color: rgb(197 32 49);
}

.card6 .paragraph {
  text-shadow: 0px 0px #3d3a3a;
  font-weight: 500;
  font-size: medium;
  padding-top: 10px;
  width: 100%;
  text-align: start;
}

/*Card7*/
.card7 {
  text-align: center;
  margin-bottom: 80px;
}

.card7 .head {
  color: rgb(197 32 49);
}

.card7 .form {
  text-align: start;
}

.card7 .label {
  font-weight: bold;
  font-weight: 500;
  font-size: 15px;
}

.card7 .basicinfo_name1 {
  width: 100%;
  margin-bottom: 10px;
  height: 45px;
  border-radius: 8px;
  border: 0.5px solid;
}

.card7 .input {
  font-size: 13px;
  padding-left: 15px;
}

.card7 .mainimg {
  padding-top: 65px;
  width: 100%;
}

.card7 .button {
  background-color: #c52031;
  ;
  color: white;
  border: none;
  width: 110px;
  height: 45px;
  border-radius: 15px;
}

.card7 .submit {
  text-align: end;
  margin-top: 25px;
}

/*Footerborder*/
.footerborder .bordershade {
  border-top: 1px solid rgb(222, 222, 222);
  margin-bottom: 40px;
}

/*Card8*/
.card8 {
  padding-bottom: 60px;
}

.card8 .arrange {
  text-align: start;
}

.card8 .arrange .head {
  padding-bottom: 15px;
  padding-top: 20px;
  font-weight: 600;
  font-size: large;
}

.card8 .arrange .topic {
  color: gray;
}

.card8 .arrange .button {
  background-color: black;
  color: white;
  border: none;
  font-size: small;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  border-radius: 5px;
}